@font-face{
    font-family: Hylia;
    src: url(./HyliaSerifBeta-Regular.otf) format("opentype");
}

:root{
    --color:rgba(23, 175, 168, 0.7);
}

* {
    font-family: Hylia, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color:antiquewhite;
}

html, body{
    margin: 0;
    padding: 0;
}
.logo, .content{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.picture{
    background-image: url(./zelda-albt.jpg);
    background-position: center;
    background-size: 35vw;
    background-repeat: no-repeat;
    width: 30vw;
    display: flex;
}

.triforce{
    width:10vw;
}
.logo{
    height: 20vh;
    background-color: var(--color);
    position: relative;
    top: 20vh;
    gap: 1vw;

    justify-content: center;
    align-items: center;
}

.Hylia{
    color:black;
    font-size: 4rem;
}

.right{
    width: 75vw;
    border: 2vw solid var(--color);
    padding: 10vw;
    font-size: 2em;
    flex-flow: column nowrap;
    background-color: #114747;
    justify-content: center;
    
}

.description-text{
    font-size: 2.5rem;
    width: 90%;
}

.forms{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding-bottom: 1vh;
    gap: 25px;
}

.input {
    display: flex;
    flex-flow: column wrap;
    font-size: 1.5rem;
    width: 45%;
}

.bottom-text{
    font-size:1.4rem;
    padding-top:1vh;
}

button{
    border-style: solid;
    border-width: medium;
    background:#114747;
    font-size: 1.5rem;
    border-radius: 10px;
    border-color: rgb(182, 136, 19);
}

button:hover{
    background-color:var(--color);
}