* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}
.logo, .content{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.picture{
    background-image: url(./zelda-albt.jpg);
    background-position: center;
    background-size: 35vw;
    background-repeat: no-repeat;
    width: 30vw;
    display: flex;
}

.triforce{
    width:10vw;
}
.logo{
    height: 20vh;
    background-color: rgba(23, 175, 168, 0.7);
    position: relative;
    top: 20vh;
    gap: 1vw;

    justify-content: center;
    align-items: center;
}

.right{
    width: 75vw;
    margin: 0;
    border: 2vw solid #8ac735;
    padding: 16vw;
    font-size: 1.2em;
    flex-flow: column nowrap;
}

.form{
    display: flex;
    flex-flow: row wrap;
}
